* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* --primary-color: #002e5f; */
  --primary-color: #03945d;
  --third-color: #e6ac0c;
  /* --text-color: #333333; */
  --text-color: #fff;
  --secondtext-color: #002e5f;
  --border-color: lightgray;
}

.helpcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

  
 

/* First page  */

.helphelpcontainer {
  width: 80%;
  height: auto;
  flex-shrink: 0;
  border-radius: 20px;
  /* background: rgba(199, 198, 198, 0.18); */
  background: var(--third-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 1.4rem;
  margin-bottom: 1rem ;
  padding: 1rem;
}

.helptitle {
  color: #002e5f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-top: 1rem;
}
.helpsubtitle {
  color: #002e5f;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpsummary {
  color: #002e5f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.helpsummarycontent {
  /* color: #002E5F; */
  margin-left: 2rem;
  margin-right: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0.4rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;

  position: relative;
  width: 80%;
  text-align: center;
}

.helpjoinbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}


@media only screen and (max-width: 600px) {
 .helphelpcontainer{
  width: 93%;
 }
}
 
 